body{
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    overflow-x:hidden;
}
ul{
    list-style-type: none;
}
footer{
    background-color: rgb(0, 101, 183);
    height: 3em; 
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.menu{
    font-weight: bold;
}
.navhead1{
    background-color: rgb(0, 101, 183);
}
.navhead2{
    background-color: rgb(26, 150, 178);
}
.mega-sena{
    color: #209869;
    font-family: 'Russo One', sans-serif;
}
.lotofacil{
    color: #930089;
    font-family: 'Russo One', sans-serif;
}
.quina{
    color: #260085;
    font-family: 'Russo One', sans-serif;
}
.lotomania{
    color: #f78100;
    font-family: 'Russo One', sans-serif;
}
.timemania{
    color: #00ff48;
    font-family: 'Russo One', sans-serif;
}
.dupla{
    color: #a61324;
    font-family: 'Russo One', sans-serif;
}
.dia{
    color: #cb852b;
    font-family: 'Russo One', sans-serif;
}
.LOTOFÃCILb{
    background-color: #930089;
}
.QUINAb{
    background-color: #260085;
}
.LOTOMANIAb{
    background-color: #f78100;
}
.TIMEMANIAb{
    color: #049645 !important;
    background-color: #FFF600;
}
.DIAb{
    background-color:  #cb852b;
}
.MEGA-SENAb{
    background-color: #209869;
}
.DUPLAb{
    background-color: #a61324;
}
.acumulou{
    font-size: 1.5em;
    color: #006bae;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}
.ganhadores{
    color: #f7941d;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
}
.resultado{
    padding-left: 0.4em;
    padding-top: 0.2em;
    margin-right: 10px;
    font-size: 1.5em;
    height: 2em;
    width: 2em;
    border-radius: 50px;
    color: white;
    font-weight: bold;
}
.time{
    margin-right: 10px;
}
.resultadoCard{
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
.borda{
    border-style: solid;
    border-color: red;
}
@media (max-width: 575.98px){
    body{
        font-size: 0.9em;
        overflow-x:hidden !important;
    }
    header,nav{
        overflow-x:hidden !important;
    }
    h4{
        font-size: 1.25em;
    }
    h5{
        font-size: 1.1em;
    }
    nav > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    nav > div > ul{
        margin-right: auto;
    }
    .botao{
        display: block !important;
        width: 100% !important;
    }
    .resultado{
        font-size: 1em;
    }
    .resultadosColunas{
        padding-left: 0px;
    }
    .arrecadacaoTotal{
        margin-top: 1em;
    }
    
}
@media (max-width: 410px){
    body,header,nav{
        font-size: 0.8em;
        overflow-x:hidden !important;
    }
    header,nav{
        overflow-x:hidden !important;
    }
    select{
        font-size: 0.8rem;
        /* margin-right: 10px; */
    }
    input{
        font-size: 0.8rem;
        /* margin-left: 10px; */
        padding: 5px;
    }
    #buscar{
        display: block;
        width: 81%;
        margin-top: 5px;
        font-size: 0.8rem;  
    }
    #logo{
        font-size: 4em !important;   
    }
    #buscarapida{
        font-size: 2em !important;
    }

    .resultado{
        font-size: 0.8em;
    }
}